// Colors

$main-color :      #202020;

$alt-color  :      #2F3030;

$sec-color  :      #EC572C;

$hover-color:      #646464;

$background-color: #171717;

// Transition 

$main-transition : 0.5s;

//  Media Query

$large-screen: "(max-width: 1200px)";
$medium-screen: "(max-width: 992px)";
$small-screen: "(max-width: 768px)";
$mobile-screen: "(max-width: 480px)";
